{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
></script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/pokemon-detail.css' %}"
/>
<script defer src="{% static 'js/pokemon-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="pokemon-container">
  <div class="pokemon-img">
    <img 
      src="{% static '' %}" 
      alt="Pokemon"
    >
  </div>
  <div class="pokemon-details">
    <h2>{{ pokemon.name }}</h2>
    <p>A Generation: {{ pokemon.generation }}, {{ pokemon.type }} type pokemon</p>
    <p><small>{{ pokemon.description }}</small></p>
    <div class="pokemon-actions">
      <a href="{% url 'pokemon_update' pokemon.id %}" class="btn warn">Edit</a>
      <a href="{% url 'pokemon_delete' pokemon.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static '' %}" 
        alt="A hungry pokemon"
      />
      <img 
        src="{% static '' %}"
        alt="other cute image"
      />
      <img 
        src="{% static '' %}" 
        alt="other cute image"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in pokemon.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}