{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pokemon-index.css' %}"/>
{% endblock %}

{% block content %}



<section class="page-header">
  <h1>Pokemon List</h1>
  <img src={% static 'images/trio1.png' %} alt="Cute Poke Trio" />
</section> 

<section class='card-container'>
  {% for pokemon in pokemon %}
    <div class="card">
      <a href="{% url 'pokemon_detail' pokemon.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if pokemon.photo.url %}
              <img 
                src="{{pokemon.photo.url}}" 
                alt="A photo of {{pokemon.name}}"
                class="usr-img"
              >
            {% else %}
              <img id='pokeball-img'
                src="{% static 'images/pokeball.png' %}" 
                alt="Pokeball"
              >
            {% endif %}
          </div>
        </div>
        <h2 class="card-title">{{ pokemon.name }}</h2>
          <p>A Generation: {{ pokemon.generation }}, {{ pokemon.type }} type pokemon</p>
        <p><small>{{ pokemon.description }}</small></p>
      </div>
    </a>
    </div>
  {% endfor %}
</section>

{% endblock %}